.aboutme__content{
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    width: 800px;
}
.aboutme__info--container{
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 2;
}
.aboutme__profile--container{
    width: 250px;
    aspect-ratio: 1 / 1;
    grid-area: 2 / 2 / 3 / 3;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 15px 3px;
    justify-self: center;
    align-self: center;
    margin-left: 1rem;
}
.aboutme__profile--img{
    object-fit: contain;
}
/* Responsive */
@media (max-width: 900px) {
    .aboutme__content{
        width: 600px;
    }
}
@media (max-width: 700px) {
    .aboutme__content{
        width: 90%;
        grid-template-rows: auto auto auto;
    }
    .aboutme__profile--container{
        width: 150px;
        grid-area: 1 / 1 / 2 / 3;
        justify-self: center;
        margin: 0;
    }
    .aboutme__info--container{
        grid-area: 3 / 1 / 4 / 4;
    }
}