.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 560px;
    margin: 15px auto;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px var(--color-black);
    background-color: var(--color-brown--bg);  
}
.contact__label{
    color: #fff2e5;
}
.contact__form{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    width: 100%;
}
.contact__input{
    margin: 0.5rem 0;
    width: 100%;
    border-radius: 3px;
    padding: 0.5rem 5px;
    transition: background-color 0.3s ease-in-out;
    color:var(--color-black);
    font-weight: 500;
}
.contact__input--error{
    background-color: rgb(255, 201, 201);
}
.contact__textarea{
    margin: 0.5rem 0;
    border-radius: 3px;
    padding: 0.5rem 5px;
    width: 100%;
    height: auto;
    resize: none;
    transition: background-color 0.3s ease-in-out;
    font-weight: 500;
    color: var(--color-black);
}
.contact__fieldset{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    border: solid 1px var(--color-yellow);
}
.contact__legend{
    color: var(--color-yellow);
    font-size: 1.2rem;
    padding: 0 5px;
}
.form__submit{
    width: 150px;
    background-color: var(--color-yellow);
    transition: all 0.2s ease-in;
    transform: scale(1);
    box-shadow:  0 0 10px 1px var(--color-black);
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 20px;
}
.form__submit:hover{
    background-color: var(--color-yellow);
    transition: all 0.2s ease-in-out;
    transform: scale(1.04);
    box-shadow: 0 0 5px 1px var(--color-black);
}
.from__submit--submitted{
    width: 150px;
    background-color: #CFBCA5;
    transition: all 0.2s ease-in;
    transform: scale(1);
    box-shadow:  0 0 10px 1px var(--color-black);
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 20px;
    color: var(--color-black);
}
.p__copy--mail{
    cursor: pointer;
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
}
.p__copy--mail:hover{
    color: var(--color-brightyellow);
    transition: all 0.3s ease-in-out;
}
.p__copy--mail:active{
    transform: scale(0.98);
    transition: all 0.1s ease-in-out;
}
.input__submitted{
    background-color: #cacaca;
}
.error__message{
    margin: 0 0 10px 0;
    color: rgb(255, 201, 201);
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    height: 0px;
    margin: 0;
}
.error__message--active{
    opacity: 1;
    margin: 0 0 10px 0;
    height: 10px;
}
/* Responsive */
@media (max-width: 640px){
    .contact{
        width: 90%;
    }
}