.footer{
    margin-top: 2vh;
    height: 10vh;
    border-radius: 20px 20px 0 0;
    background-color: var(--color-black);
    box-shadow: 0 0 10px 2px var(--color-black);
    width: 100%; 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    background-image: url('../assets/diagmonds.png');
}
.footer__p{
    margin: 1rem;
    grid-area: 1 / 1 / 1 / 2;
    align-self: center;
}
.footer__contact{
    width: 150px;
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    align-items: center;
}
.footer__contact--img{
    filter: drop-shadow(#6b5c3f -2px 2px 3px);
    transition: all 0.3s ease-in-out;
}
.footer__contact--img:hover{
    transform: scale(1.05);
    filter: drop-shadow(#6b5c3f -2px 2px 5px);
}
/* Responsive */
@media (max-width: 440px){
    .footer{
        height: fit-content;
        padding: 0.5rem;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        place-items: center;
    }
    .footer__p{
        grid-area: 2 / 1 / 3 / 1;
        text-align: center;
        font-size: 0.8rem;
    }
    .footer__contact{
        grid-area: 1 / 1 / 2 / 1;
        margin-left: 0;
    }
}