.header{
    background-color:var(--color-black) ;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 0 10px 2px var(--color-black);
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url('../assets/diagmonds.png');
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    height: fit-content;
}
.header__data{
    width: fit-content;
    display: grid;
    grid-template-rows: auto auto auto;
    padding-left: 1rem;
}
.header__title{
    color: var(--color-yellow); 
    text-shadow: var(--color-brown--bg) -5px 3px 5px;
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
}
.header__subtitle{
    color: var(--color-dullyellow);
    grid-area: 2 / 1 / 3 / 2;
}
.header__social{
    display: flex;
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 0.5rem;
    gap: 2rem;
}
.header__social--link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 100%;
}
.header__social--img{
    filter: drop-shadow(var(--color-yellow) 0 0 4px);
    transition: transform 0.3s ease-in-out;
}
.header__social--img:hover{
    transform: scale(1.05);
}
.logo__img{
    width: 300px;  
    aspect-ratio: 1 / 1;
    transform: rotate(-10deg);
    filter: drop-shadow(var(--color-black) 5px 5px 5px);
}
.logo__style{
    background-color: var(--color-darkblue-bg);
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0px;
    transform: rotate(10deg);
    overflow: hidden;
    height: 250px;
    aspect-ratio: 1 / 1;
}
/* Animations */

.header-animation__container{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.header-animation__left,.header-animation__right{
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 100px;
}
.header-animation__part-1{
    position: absolute;
    display: flex;
    gap: 25px;
    height: 600px;
    flex-direction: column;
    animation: header-animation_movement_1 10s infinite backwards linear;
}
@keyframes header-animation_movement_1{
    from{
        transform: translateY(-150%)
    }
    to{
        transform: translateY(-50%)
    }
}
.header-animation__part-2{
    position: absolute;
    height: 600px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    animation: header-animation_movement_2 10s infinite backwards linear;
}
@keyframes header-animation_movement_2{
    from{
        transform: translateY(-50%)
    }
    to{
        transform: translateY(50%)
    }
}
.header-animation__line{
    background-color: #c3aa72;
    width: 20px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    box-shadow: -2px 1px 5px 5px #463c29;
}
.header-animation__line::after{
    z-index: 5;
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 80%;
    background-color: var(--color-brightyellow);
    top: 50%;
    transform: translateY(-50%);
    left: 11px;
    border-radius: 4px;
}
.header-animation__line::before{
    z-index: 5;
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 85%;
    background-color: #9c885c;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    border-radius: 100px 0 0 100px;
}
.header-animation__dot{
    background-color: #c3aa72;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    box-shadow: -2px 1px 5px 5px #463c29;
}
.header-animation__dot::after{
    z-index: 5;
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 50%;
    background-color: var(--color-brightyellow);
    top: 50%;
    transform: translateY(-50%);
    left: 11px;
    border-radius: 4px;
}
.header-animation__dot::before{
    z-index: 5;
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 70%;
    background-color: #9c885c;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
    border-radius: 100px 0 0 100px;
}
.logo__style{
    box-shadow: #c3aa72 0 0 35px 0.2px;
    animation: profile_anim 3s ease-in-out  infinite reverse both;
}
@keyframes profile_anim{
    0%{
        box-shadow: #c3aa72 0 0 15px 0.009px;
    }
    50%{
        box-shadow: #c3aa72 0 0 35px 0.2px;
    }
    100%{
        box-shadow: #c3aa72 0 0 15px 0.009px;
    }
}
/* Responsive */
@media (max-width: 1080px){
    .header__title{
        font-size: 2.5rem;
    }
    .header__subtitle{
        text-align: center; 
    }
    .header-animation__left,.header-animation__right{
        width: auto;
        margin: 50px;
        height: auto;
    }
    .header__content{
        padding-bottom: 2rem;
    }
    .logo__img{
        max-width: 250px;    
        max-height: 250px;
    }
    .logo__style{
        height: 200px;
        width: 200px;
        margin-bottom: 2rem;
    }
}
@media (max-width: 768px){

    .header__data{
        padding: 0;
    }
    .header__content{
        flex-direction: column;
    }
    .header__title{
        font-size: 2rem;
        width: 100%;
        text-align: center;
        justify-self: center;
    }
    .header__subtitle{
        text-align: center;
        font-size: 1.3rem;
    }
    .header__social{
        justify-content: center;
    }
    .logo__style{
        width: 150px;
        height: auto;
        margin: 1rem;
    }
    .logo__img{
        width: 180px;
        height: auto;
    }
}
@media (max-width: 640px){
    .header__title{
        width: 250px;
    }
    .header__subtitle{
        text-align: center;
        font-size: 1rem;
    }
}
@media (max-width: 440px){
    /* Animations */
    .header-animation__left,.header-animation__right{
        margin:20px;
    }
}
@media (max-width: 320px){

}