/* ListItem.module.css */
.list__item{
    border-radius: 10px;
    display: grid;
    grid-template-rows: 50px auto;
    place-items: center;
    cursor: pointer;
    margin: 0.5rem 0;
}
.item__header{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 50px auto;
    place-items: center;
    width: 100%;
}
.item__dot{
    border-radius: 100%;
    background-color: #e1c483;
    position: relative;
    transition: all 0.2s ease-out;
}
.item__dot-enabled{ 
    width: 10px;
    height: 10px;
}
.item__dot-disabled{ 
    width: 0;
    height: 0;
}
.item__dot-container{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #0a0908;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__title{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    color: #CFBCA5;
}
.item__content{
    max-height: 0;
    overflow: hidden;
    padding-left: 50px;
    width: 100%;
    font-size: 1rem;
    transition: 
        max-height 0.5s ease-in-out,
        opacity 0.5s ease-in-out;
}
.item__content--disabled {
    opacity: 0;
}
.item__content--enabled{
    opacity: 1;
}