.project h3{
    width: 100%;
    grid-area: 1 / 2 / 1 / 3;
    text-align: center;
    color: var(--color-yellow);
}
.project{
    height: 200px;
    width: 700px;
    background-color: var(--color-brown--bg);
    overflow: hidden;
    border-radius: 10px;
    transition:all 0.1s ease-in-out;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 30% 20% 25%;
    place-items: center;
    margin: 1rem;
}
.project:hover{
    transform: scale(1.005);
    box-shadow: 0 0 10px 1px var(--color-black);
}
.project__img-link{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-row: 1 / 5;
    grid-column: 1 / 2;
}
.project__tech{
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.project__tech-img{
    height: inherit;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    filter: drop-shadow(black 2px 2px 5px) ;
}
.project__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.1s ease-in-out;
}
.project__img:hover{
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}
.project__link{
    text-align: center;
    font-size: 1rem;
    margin: 0 10px;
    padding: 5px 10px;
    height: fit-content;
    width: 150px;
    border-radius: 5px;
    background-color: var(--color-yellow);
    transition: background-color 0.3s ease-in-out;
}
.project__link:hover{
    background-color: var(--color-brightyellow);
    transition: background-color 0.3s ease-in-out;
}
.project__link:enabled {
    transform: scale(0.98);
}
.project__link-img{
    max-width: 30px;
    max-height: 30px;
}
.project__text{
    color: #fff2e5;
    grid-area: 2 / 2 / 3 / 3;
    margin: 0 10px;
    text-align: center;
}
.project__buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 4 / 2 / 5 / 3;
}
/* Responsive */
@media (max-width: 768px){
    .project{
        width: 600px;
    }
    section{
        width: 100%;
        padding: 0 10px;
    }
}
@media (max-width: 640px){
    .project{
        height: 400px;
        width: 400px;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 10% 25% 10% auto;
    }
    .project h3{
        grid-area: 2 / 1 / 3 / 2;
    }
    .project__img-link{
        grid-row: 1 / 2;
        grid-column: 1;
    }
    .project__text{
        grid-area: 3 / 1 / 4 / 2;
    }
    .project__tech{
        grid-area: 4 / 1 / 5 / 2;
        width: 100%;
        justify-content: center;
    }
    .project__buttons{
        grid-area: 5 / 1 / 6 / 2;
    }
}
@media (max-width: 440px){
    .project{
        width: 300px;
        height: 500px;
        grid-template-rows: 40% 10% 20% 10% auto;
    }
    .project h3{
        font-size: 1.2rem;
    }
    .project__buttons{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .project__info-button--open{
        width: 200px;
    }
    .project__link{
        width: 200px;
    }
}
@media (max-width: 320px){
    .project{
        width: 90%;
    }
}