/* COLORS: 0a0908 22333b eae0d5 e1c483 D0BC90 5e503f */
:root{
    /* Colors */
    --color-black: #0a0908;
    --color-darkblue-bg: #22333b;
    --color-white: #eae0d5;
    --color-brightyellow: #ffebc0;
    --color-yellow: #e1c483;
    --color--dullyellow: #D0BC90;
    --color--brown--bg: #5e503f;
}
*{
    box-sizing: border-box;
}
html{
    scrollbar-color: #e1c483 black;
}
body{
    background-color:var(--color-darkblue-bg);
    font-size: 1rem;
    background-image: url(./assets/gplay.png);
    font-family: "Space Grotesk", sans-serif;
}
body, h1, h2, h3, p, ul, ol, input, textarea, button {
    margin: 0;
    padding: 0;
}
.no-scroll {
    overflow: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
.section__title{
    margin: 1rem;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
    color: var(--color-yellow);
    text-shadow:  0px 0px 15px var(--color-black);
}
h3{
    font-size: 1.5rem;
    color: var(--color-yellow);
    text-shadow:  0px 0px 15px var(--color-black);
}
p{
    font-weight: 400;
    color: var(--color-white);
    text-wrap: pretty;
}
input, textarea, button, ul, ol, body{
    font-family: "Space Grotesk", sans-serif;
    list-style: none;
    border: none;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    max-width: 700px;
}